.studentContainer{
    background-color: rgb(221, 226, 231);
    min-height: 100vh;
}
.studentContainer .tag{
    background-color: rgb(214, 219, 219);
    min-height: 50px;
    width:100%;
}
.studentContainer .tag {
    display:flex;
    align-items: center;
}
.studentContainer .tag h4 {
   color:rgb(67, 74, 99);
}
.studentContainer .left{
   background-color: white;
   border-radius: 10px;
   min-height:440px;
   display:flex;
   flex-direction: column;
}
.studentContainer .left .top{
   display: flex;
   align-items: center;
   justify-content: center;
   height:230px;
}
.studentContainer .left .bottom{
   display: flex;
   flex-direction: column;
   /*align-items: center;*/
   /*justify-content: center;*/
}
.studentContainer .left .bottom .name{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 22px;
   font-weight: 500;
   color:rgb(7, 7, 61)
}
.studentContainer .left .bottom .other{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 19px;
   font-weight: 500;
   color:rgb(7, 7, 61)
}
.studentContainer .right{
   background-color: white;
   border-radius: 10px;
   min-height:440px;
}
.studentContainer .right .leftt{
   font-size: 20px;
   color:grey;
   font-weight:500;
}
.studentContainer .right .rightt{
   font-size: 18px;
   color:rgb(37, 36, 36);
   font-weight:500;
}

@media only screen and (max-width:990px){
  .studentContainer .left .top{
   display: flex;
   align-items: center;
   justify-content: center;
   height:190px;
   padding-left:10px;
}
   .studentContainer .left{
   display:flex;
   flex-direction: row;
   min-height: 200px;
  } 
  .studentContainer .left .bottom{
   display: flex;
   flex-direction: column;
   /*align-items: center;*/
   justify-content: center;
   flex:3;
   margin-left: 9px;
}
.studentContainer .left .bottom .name{
   display: block;
   text-align: left;
   font-size: 20px;
   font-weight: 500;
   color:rgb(7, 7, 61)
}
.studentContainer .left .bottom .other{
   display: block;
   text-align: left;
   font-size: 18px;
   font-weight: 500;
   color:rgb(7, 7, 61);
   margin: 0px;
}
}